body {
    background-color: #994533;
}

.carousel-item{
    height: 360px;
}

.card {
    height: 360px;

    img {
        height: 100%;
        //img 適用的 background-size
        object-fit: cover;
    }
}